main {
  width: 800px;
}

.main__section {
  display: flex;
  flex-direction: column;

  padding: 40px;
  box-sizing: border-box;

  background-color: #c4c7d4;
}

.main__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.main__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  background: #fff;
}

.main__change-button {
  position: absolute;
  top: -30px;
}

.main__change-button--right {
  left: 100px;
}
