.main__form-wrapper {
  width: 100%;
}

.main__form-points-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 10px 50px;
}

.points-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > input {
    margin-right: 10px;
    cursor: pointer;
  }

  & > label {
    cursor: pointer;
  }

  &:hover {
    color: blue;
  }
}

@media (min-width: @desktop-width) {
  .main__form-points-list {
    justify-content: flex-start;

    margin-top: 20px;
  }

  .points-list__item {
    margin-right: 20px;
  }
}
